.divTable {
  max-width: 100%;
  overflow: scroll;
  margin: auto;
}

.Table {
  background-color: #003BE5;
  color: white;
  width: 100%;
  margin: auto;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

.Table thead tr th {
  padding: 8px;
}

.Table tbody td {
  padding: 8px;
}

.EditBtn {
  background: #2FC18C;
  border: none;
  color: white;
  width: 50px;
  height: 25px;
  border-radius: 8px;
  margin-right: 5px;
  transition: 200ms;
  cursor: pointer;
}

.DeleteBtn {
  cursor: pointer;
  background: white;
  border: none;
  color: black;
  width: 50px;
  height: 25px;
  border-radius: 8px;
  margin-right: 5px;
  margin-top: 5px;
  transition: 200ms;
}