.containerWalletForm {
  width: 100%;
  display: flex;
  margin: auto;
  border-radius: 8px;
  justify-content: center;
  flex-wrap: wrap;
}

.containerWalletForm form {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

.containerWalletForm form label {
  margin-top: 10px;
  margin-right: 5px;
}

.inputValor {
  height: 30px;
  border: none;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  margin-left: 5px;
  color: #003BE5;
}

.inputDescrição {
  height: 30px;
  border: none;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  margin-left: 5px;
  color: #003BE5;
}

.inputSelect1 {
  height: 30px;
  border: none;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  margin-left: 5px;
  color: #003BE5;
}

.button {
  cursor: pointer;
  width: 300px;
  height: 30px;
  margin-top: 10px;
  margin-bottom: 30px;
  background: #2FC18C;
  color: white;
  border-radius: 5px;
  border: none;
  margin-top: 20px;
  transition: 300ms;
}

.button:hover {
  background-color: rgb(18, 141, 51);
  transition: 300ms;
}